body {
    background-color: rgb(249, 233, 14);
}
#heading {
    margin-left: 300px;
    margin-top: 100px;
}
.input {
    font-size: 25px;
    background: #040404;
    border: 2px solid #f5eeee;
    box-shadow: inset -5px -5px 10px rgba(213, 215, 218, 0.25), inset 5px 5px 10px #c8c9ca;
    border-radius: 12px 12px 12px 12px;
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    color: rgb(253, 253, 253);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #313949;
    border: 1px solid #ffffff;
    box-shadow: inset -5px -5px 10px rgba(64, 75, 95, 0.25), inset 5px 5px 10px #2C3341;
    border-radius: 12px 12px 12px 12px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
  }
  
  .dropdown-content {
    display: none;
    border: 1px solid #313949;
    box-sizing: border-box;
    width: 76px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background: #0E1625;
    box-shadow: -3px 2px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.ctn1 {
    width: 100%;
    height: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ctn2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctn2 button{
    width: 58px;
    height: 58px;
    background: linear-gradient(331.93deg, #ffffff 11.88%, #aeaeae 85.18%);
    mix-blend-mode: normal;
    box-shadow: 0px 0px 15px rgba(213, 213, 213, 0.25), 0px 4px 4px rgba(188, 186, 186, 0.25);
    color: #000000;
    font-size: 40px;
    border-radius: 50%;
}
.ctn2
 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}
.ctn2 button {
    cursor: pointer;
}
.ans_btn {
    box-sizing: border-box;
    width: 475px;
    height: 58px;
    background: linear-gradient(47.94deg, #0b0b0b 19.6%, #121212 77.32%);
    border: 2px solid linear-gradient(47.94deg, #0e0e0e 19.6%, #fffefe 77.32%);
    box-shadow: 0px 0px 15px rgba(251, 251, 251, 0.25), 0px 4px 4px rgba(212, 212, 212, 0.25);
    border-radius: 12px;
    color:rgb(255, 253, 253);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 20px;
}
.btn {
    font-size: 20px;
    min-width: 50px;
    min-height: 50px;
}
.blue {
     background-color: rgb(17, 0, 255);
}
.red {
    background-color: red;
}
.green {
    background-color: rgb(3, 253, 3);
}
.yellow {
    background-color: yellow;
}
/* responsive */
@media (max-width: 1150px) {
    .ctn1 {
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ctn2 {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
